{% extends "base.html" %}
{% block content %}


<div class="container mt-5">
    <h2 class="text-center mb-4">Categories</h2>
   

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <!-- Category 1 -->
        <div class="col">
            <div class="card h-100 text-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2H-YkEA_oyXiB30EEK-HSxwGfw4sIrSZqvQ&s/300" 
                     class="card-img-top" alt="Electronics">
                <div class="card-body">
                    <h5 class="card-title">Electronics</h5>
                    <p class="card-text">Mobiles, Laptops, Accessories and more.</p>
                    <a href="#" class="btn btn-primary w-100">View Products</a>
                </div>
            </div>
        </div>

        <!-- Category 2 -->
        <div class="col">
            <div class="card h-100 text-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSppPEsk5PzrLf3azFKlbbCT7fpK4gTfp-NBg&s/300" 
                     class="card-img-top" alt="Clothing">
                <div class="card-body">
                    <h5 class="card-title">Clothing</h5>
                    <p class="card-text">Men & Women fashion collection.</p>
                    <a href="#" class="btn btn-primary w-100">View Products</a>
                </div>
            </div>
        </div>

        <!-- Category 3 -->
        <div class="col">
            <div class="card h-100 text-center">
                <img src="https://5.imimg.com/data5/SELLER/Default/2022/1/QZ/AO/RT/142262681/istockphoto-1301394040-170667a-500x500.jpg" 
                     class="card-img-top" alt="Shoes">
                <div class="card-body">
                    <h5 class="card-title">Shoes</h5>
                    <p class="card-text">Sports, Casual and Formal footwear.</p>
                    <a href="#" class="btn btn-primary w-100">View Products</a>
                </div>
            </div>
        </div>

        <div class="col">
               <div class="card h-100 text-center">
                   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMgqnTewLes_zM0jjcrVnNHwRdrC9yCAGG8w&s/300" 
                        class="card-img-top" alt=">Accessories">
                   <div class="card-body">
                       <h5 class="card-title">Accessories</h5>
                       <p class="card-text">Sports, Casual and Formal footwear.</p>
                       <a href="#" class="btn btn-primary w-100">View Products</a>
                   </div>
               </div>
       </div>
    </div>

    </div>
</div>



  
{% endblock content %}